FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_X509_CERT_URL=

MOMO_PARTNER_CODE=MOMO
MOMO_ACCESS_KEY=F8BBA842ECF85
MOMO_SECRET_KEY=K951B6PE1waDMi640xX08PD3vg6EkVlz
MOMO_STORE_ID=MomoTestStore
MOMO_PARTNER_NAME=LMS
MOMO_LANG=vi
MOMO_AUTO_CAPTURE=true
MOMO_REQUEST_TYPE=captureWallet
MOMO_VERIFY_SIGNATURE=true
MOMO_IPN_FIELDS=accessKey,amount,extraData,message,orderId,orderInfo,orderType,partnerCode,payType,requestId,responseTime,resultCode,transId
MOMO_CREATE_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create

MOMO_REDIRECT_URL=https://lms-payment-backend.onrender.com/health
MOMO_IPN_URL=https://lms-payment-backend.onrender.com/momoIpnWebhook

PORT=3000
